cliente-x/0hryP0PHv7GsznzR.json
{
  "updatedAt": "2026-02-28T01:41:34.814Z",
  "createdAt": "2026-02-28T01:33:10.489Z",
  "id": "0hryP0PHv7GsznzR",
  "name": "Backup_N8N",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61df5ffb-7587-4ec0-a4ef-5d03168857c5",
              "name": "owner",
              "value": "SideneiSilva",
              "type": "string"
            },
            {
              "id": "167893e5-9de8-4273-9fc3-3f2da550ebf7",
              "name": "repository",
              "value": "n8n-backup",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6e87e56a-a655-4292-a286-dd2981beb7b0",
      "name": "Infos Basicas",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        144
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "id": "8aa3bf35-3117-49a5-a52e-05021f801872",
      "name": "Workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        528
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "id": "3b373ae0-0655-40f0-b4b4-b9b1cee65c74",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        912,
        528
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').item.json.repository }}",
          "mode": "name"
        },
        "filePath": "=cliente-x/{{ $json.id }}.json",
        "additionalParameters": {}
      },
      "id": "d40186d9-9ec6-4be5-b9a4-a29f0d5b0606",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "webhookId": "438adf91-6d81-4bdc-bab9-a64de0720eca",
      "credentials": {
        "githubOAuth2Api": {
          "id": "ER8zVDXRZerceSKN",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "id": "17590edb-37cf-4082-b199-1a139d6ad4c3",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d55c571b-e214-48c5-9516-b16c71f5419e",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "ad8e221a-4e35-444c-bf14-34c48b0c244c",
      "name": "Workflow dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        352
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "a95333f8-c76a-4a9a-ab7c-71df198912c3",
      "name": "Obter todos",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -320,
        144
      ],
      "credentials": {
        "n8nApi": {
          "id": "nb4MbvdWVNur7UQP",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "id": "ec8253ed-5e80-4a49-b75f-0e84bd74ddb8",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=cliente-x/{{ $('Workflow').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow').item.json.name }} {{ $now.toString() }}"
      },
      "id": "e590fd77-6963-4d6e-b2bb-5598116e372f",
      "name": "GitHub Create File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1104,
        528
      ],
      "webhookId": "d98e784d-b014-4cc2-8d7b-6411a559993f",
      "credentials": {
        "githubOAuth2Api": {
          "id": "ER8zVDXRZerceSKN",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "5f2b059c-8aa5-4ed8-8d81-7cd35f92b208",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        144
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "id": "4f334ec7-5a0d-4e67-bdd4-8f374ba3ff5f",
      "name": "Workflow1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        320
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "id": "b058c782-747a-438f-894b-70e8d7a4f9f4",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        912,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=cliente-x/{{ $('Workflow1').item.json.id }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow1').item.json.name }} {{ $now.toString() }}"
      },
      "id": "7fe2d7f4-a19e-4851-aec1-206893d471b7",
      "name": "GitHub Edit File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1104,
        320
      ],
      "webhookId": "09efc4b5-eb64-4d12-a2b9-bd2b1001070b",
      "credentials": {
        "githubOAuth2Api": {
          "id": "ER8zVDXRZerceSKN",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Infos Basicas": {
      "main": [
        [
          {
            "node": "Obter todos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "GitHub Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow dados": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Obter todos": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Workflow dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [
          {
            "node": "Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Infos Basicas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "GitHub Edit File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e154f3a6-e235-4850-8bfb-f911bb7e3d90",
  "activeVersionId": "e154f3a6-e235-4850-8bfb-f911bb7e3d90",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-28T01:33:10.489Z",
      "createdAt": "2026-02-28T01:33:10.489Z",
      "role": "workflow:owner",
      "workflowId": "0hryP0PHv7GsznzR",
      "projectId": "jpUEChzxuUXaZ2dQ"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-28T01:41:34.817Z",
    "createdAt": "2026-02-28T01:41:34.817Z",
    "versionId": "e154f3a6-e235-4850-8bfb-f911bb7e3d90",
    "workflowId": "0hryP0PHv7GsznzR",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "61df5ffb-7587-4ec0-a4ef-5d03168857c5",
                "name": "owner",
                "value": "SideneiSilva",
                "type": "string"
              },
              {
                "id": "167893e5-9de8-4273-9fc3-3f2da550ebf7",
                "name": "repository",
                "value": "n8n-backup",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "6e87e56a-a655-4292-a286-dd2981beb7b0",
        "name": "Infos Basicas",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -544,
          144
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.data }}",
          "options": {}
        },
        "id": "8aa3bf35-3117-49a5-a52e-05021f801872",
        "name": "Workflow",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          704,
          528
        ]
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true,
            "fileName": "={{ $json.id }}.json"
          }
        },
        "id": "3b373ae0-0655-40f0-b4b4-b9b1cee65c74",
        "name": "Convert to File",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          912,
          528
        ]
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $('Infos Basicas').item.json.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Infos Basicas').item.json.repository }}",
            "mode": "name"
          },
          "filePath": "=cliente-x/{{ $json.id }}.json",
          "additionalParameters": {}
        },
        "id": "d40186d9-9ec6-4be5-b9a4-a29f0d5b0606",
        "name": "GitHub",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "alwaysOutputData": true,
        "webhookId": "438adf91-6d81-4bdc-bab9-a64de0720eca",
        "credentials": {
          "githubOAuth2Api": {
            "id": "ER8zVDXRZerceSKN",
            "name": "GitHub account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "fromJson",
          "options": {}
        },
        "id": "17590edb-37cf-4082-b199-1a139d6ad4c3",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d55c571b-e214-48c5-9516-b16c71f5419e",
                "name": "data",
                "value": "={{ $json }}",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "id": "ad8e221a-4e35-444c-bf14-34c48b0c244c",
        "name": "Workflow dados",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          352
        ]
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "a95333f8-c76a-4a9a-ab7c-71df198912c3",
        "name": "Obter todos",
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -320,
          144
        ],
        "credentials": {
          "n8nApi": {
            "id": "nb4MbvdWVNur7UQP",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "mergeByFields": {
            "values": [
              {
                "field1": "data.id",
                "field2": "data.id"
              }
            ]
          },
          "resolve": "preferInput2",
          "options": {}
        },
        "id": "ec8253ed-5e80-4a49-b75f-0e84bd74ddb8",
        "name": "Compare Datasets",
        "type": "n8n-nodes-base.compareDatasets",
        "typeVersion": 2.3,
        "position": [
          464,
          208
        ]
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Infos Basicas').first().json.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Infos Basicas').first().json.repository }}",
            "mode": "name"
          },
          "filePath": "=cliente-x/{{ $('Workflow').item.json.id }}.json",
          "binaryData": true,
          "commitMessage": "={{ $('Workflow').item.json.name }} {{ $now.toString() }}"
        },
        "id": "e590fd77-6963-4d6e-b2bb-5598116e372f",
        "name": "GitHub Create File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          1104,
          528
        ],
        "webhookId": "d98e784d-b014-4cc2-8d7b-6411a559993f",
        "credentials": {
          "githubOAuth2Api": {
            "id": "ER8zVDXRZerceSKN",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "5f2b059c-8aa5-4ed8-8d81-7cd35f92b208",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -784,
          144
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $json.data }}",
          "options": {}
        },
        "id": "4f334ec7-5a0d-4e67-bdd4-8f374ba3ff5f",
        "name": "Workflow1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          704,
          320
        ]
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true,
            "fileName": "={{ $json.id }}.json"
          }
        },
        "id": "b058c782-747a-438f-894b-70e8d7a4f9f4",
        "name": "Convert to File1",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          912,
          320
        ]
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $('Infos Basicas').first().json.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Infos Basicas').first().json.repository }}",
            "mode": "name"
          },
          "filePath": "=cliente-x/{{ $('Workflow1').item.json.id }}.json",
          "binaryData": true,
          "commitMessage": "={{ $('Workflow1').item.json.name }} {{ $now.toString() }}"
        },
        "id": "7fe2d7f4-a19e-4851-aec1-206893d471b7",
        "name": "GitHub Edit File",
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          1104,
          320
        ],
        "webhookId": "09efc4b5-eb64-4d12-a2b9-bd2b1001070b",
        "credentials": {
          "githubOAuth2Api": {
            "id": "ER8zVDXRZerceSKN",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "Infos Basicas": {
        "main": [
          [
            {
              "node": "Obter todos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "GitHub Create File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow dados": {
        "main": [
          [
            {
              "node": "Compare Datasets",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Obter todos": {
        "main": [
          [
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            },
            {
              "node": "Workflow dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Datasets": {
        "main": [
          [],
          [],
          [
            {
              "node": "Workflow1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Infos Basicas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow1": {
        "main": [
          [
            {
              "node": "Convert to File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File1": {
        "main": [
          [
            {
              "node": "GitHub Edit File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "SIDENEI DA SILVA",
    "name": null,
    "description": null
  },
  "tags": []
}