cliente-x/859ih7dhocPvxa5T.json
{
  "updatedAt": "2026-01-16T14:19:13.731Z",
  "createdAt": "2026-01-16T01:49:28.995Z",
  "id": "859ih7dhocPvxa5T",
  "name": "Aviso de ERRO",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ba4bbd10-09c8-4510-bebb-6127da74da99",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json, null, 2) }}\n",
        "options": {
          "systemMessage": "=Você é um analisador de erros do n8n.\n\nExtraia do JSON recebido:\n- Nome do fluxo (workflow.name)\n- Nome do nó com erro (error.lastNodeExecuted)\n- Mensagem do erro (error.message)\n\nÉ PROIBIDO usar dados de exemplo como \"Example\".\nSe algum campo não existir, escreva \"Não informado\".\n\nGere APENAS a mensagem abaixo, sem JSON, sem cabeçalhos extras:\n\n🚨 ERRO NO N8N\n\n📌 Fluxo: <workflow.name>\n🧩 Nó: <error.lastNodeExecuted>\n⚠️ Erro: <error.message>\n\n🛠 Sugestão: Verifique diretamente esse nó. Em erros de função, valide se a variável é um array antes de usar métodos como filter, map ou reduce.\n\nJSON de entrada:\n{{ JSON.stringify($json, null, 2) }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        224,
        0
      ],
      "id": "a733d443-c2f5-4d3f-bfe6-310d0acbd1de",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        224
      ],
      "id": "636bc6e1-8992-4410-8330-ddc0e8cfb0c5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5Mz3jLfwtaP7Mj83",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "=ChatN8N",
        "remoteJid": "=5549998166132\n",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "0ccd9237-ab39-4a79-9c03-6c0c25224685",
      "name": "Respostas",
      "credentials": {
        "evolutionApi": {
          "id": "jteZg744ZMVEAB4k",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "69b45a74-0047-4bdd-800b-b4eaebd7a256",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-16T01:49:28.995Z",
      "createdAt": "2026-01-16T01:49:28.995Z",
      "role": "workflow:owner",
      "workflowId": "859ih7dhocPvxa5T",
      "projectId": "jpUEChzxuUXaZ2dQ"
    }
  ],
  "activeVersion": null,
  "tags": []
}