cliente-x/B0KrKpyQVwHPFero.json
{
  "updatedAt": "2026-02-28T01:42:02.015Z",
  "createdAt": "2026-01-16T01:51:37.252Z",
  "id": "B0KrKpyQVwHPFero",
  "name": "Barry Emissao X3",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "id": "2708b214-afa4-45b0-92a7-01cf55738678",
      "name": "Gatilho de agendamento (1min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "return items\n  .filter(item => {\n    const faturado = (item.json[\"Faturado\"] || \"\").trim().toUpperCase();\n    const informado2 = (item.json[\"Informado Whats 2\"] || \"\").trim();\n\n    return faturado === \"OK\" && informado2 === \"\";\n  })\n  .map(item => {\n    item.json[\"Informado Whats 2\"] = \"OK\";\n    return item;\n  });\n"
      },
      "id": "e4a9766d-ad4f-4b7a-a3a8-955a37337622",
      "name": "Filtra e Formata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI",
          "mode": "list",
          "cachedResultName": "ProcessosBarry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 971679055,
          "mode": "list",
          "cachedResultName": "NotasBarry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI/edit#gid=971679055"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Informado Whats 2": "ok",
            "Faturado": "ok"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Data_Lançamento",
              "displayName": "Data_Lançamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Viagens",
              "displayName": "Viagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Informado Whats",
              "displayName": "Informado Whats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Faturado",
              "displayName": "Faturado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Informado Whats 2",
              "displayName": "Informado Whats 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        192
      ],
      "id": "bed44c3d-41ba-4715-b55e-0170f48e0651",
      "name": "Atualiza Planilha",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UtT6UeplLnzrCyY7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI/edit?gid=971679055#gid=971679055",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 971679055,
          "mode": "list",
          "cachedResultName": "NotasBarry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI/edit#gid=971679055"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "id": "e5b9a3a4-8c0a-4f72-aab4-33b277cae4df",
      "name": "Ler Planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UtT6UeplLnzrCyY7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-evolution-api.mxor6u.easypanel.host/message/sendText/ChatN8N",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCfsRVFR"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.texto }}"
            },
            {
              "name": "number",
              "value": "={{ $json.number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7cf6cf1e-fb6a-4f2c-b62e-38e5054d0295",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pega os dados do item anterior (inclui row_number, Viagens, etc.)\nconst base = $json;\n\n// ID do Grupo para enviar\nconst numeros = [\n   \"120363423256039598@g.us\"\n];\n\n// Cria 1 item por número, preservando o row_number\nreturn numeros.map(n => ({\n  json: {\n    ...base,\n    number: n,\n    row_number: base.row_number   // ESSENCIAL\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "a9ee8d9b-0149-4512-8417-fb5c84e4ddcd",
      "name": "Edita Numero Whats"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        256
      ],
      "id": "4dbb34a0-edea-4ed3-8409-0ee3dd4f0979",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        256
      ],
      "id": "a92e6dde-23b8-4e90-ab65-c8a7fcbe2dcd",
      "name": "Wait",
      "webhookId": "92d78c89-bdaa-4e5d-9d79-e06f5f6fa086"
    },
    {
      "parameters": {
        "jsCode": "// items contém cada viagem filtrada individualmente\n\n// extrai as viagens\nconst viagens = items.map(i => i.json.Viagens);\n\n// monta lista formatada\nconst lista_formatada = viagens.map(v => `• ${v}`).join(\"\\n\");\n\n// prepara linhas para o loop, com row_number\nconst linhas = items.map(i => ({\n  row_number: i.json.row_number,\n  viagem: i.json.Viagens\n}));\n\n// texto final\nconst texto =\n`📄 *NF Lançada no X3!*\n\n🚚 *Viagens:*\n${lista_formatada}\n\n💼 Smart Serviços Logísticos`;\n\n// saída única para mensagem\nreturn [\n  {\n    json: {\n      texto,\n      viagens,\n      lista_formatada,\n      linhas\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "3da2eb8d-4f3b-42f7-969e-15ca86de42f0",
      "name": "Agrupa_Viagens"
    }
  ],
  "connections": {
    "Gatilho de agendamento (1min)": {
      "main": [
        [
          {
            "node": "Ler Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra e Formata": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agrupa_Viagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler Planilha": {
      "main": [
        [
          {
            "node": "Filtra e Formata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edita Numero Whats": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Atualiza Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Planilha": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupa_Viagens": {
      "main": [
        [
          {
            "node": "Edita Numero Whats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gatilho de agendamento (1min)": {
      "recurrenceRules": [
        20
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "adc67840-fc4e-4442-9382-9a3d50ce54d3",
  "activeVersionId": "adc67840-fc4e-4442-9382-9a3d50ce54d3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-16T01:51:37.252Z",
      "createdAt": "2026-01-16T01:51:37.252Z",
      "role": "workflow:owner",
      "workflowId": "B0KrKpyQVwHPFero",
      "projectId": "jpUEChzxuUXaZ2dQ"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-28T01:42:02.022Z",
    "createdAt": "2026-02-28T01:42:02.022Z",
    "versionId": "adc67840-fc4e-4442-9382-9a3d50ce54d3",
    "workflowId": "B0KrKpyQVwHPFero",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 20
              }
            ]
          }
        },
        "id": "2708b214-afa4-45b0-92a7-01cf55738678",
        "name": "Gatilho de agendamento (1min)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -672,
          160
        ]
      },
      {
        "parameters": {
          "jsCode": "return items\n  .filter(item => {\n    const faturado = (item.json[\"Faturado\"] || \"\").trim().toUpperCase();\n    const informado2 = (item.json[\"Informado Whats 2\"] || \"\").trim();\n\n    return faturado === \"OK\" && informado2 === \"\";\n  })\n  .map(item => {\n    item.json[\"Informado Whats 2\"] = \"OK\";\n    return item;\n  });\n"
        },
        "id": "e4a9766d-ad4f-4b7a-a3a8-955a37337622",
        "name": "Filtra e Formata",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -224,
          160
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI",
            "mode": "list",
            "cachedResultName": "ProcessosBarry",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 971679055,
            "mode": "list",
            "cachedResultName": "NotasBarry",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI/edit#gid=971679055"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "row_number": "={{ $json.row_number }}",
              "Informado Whats 2": "ok",
              "Faturado": "ok"
            },
            "matchingColumns": [
              "row_number"
            ],
            "schema": [
              {
                "id": "Data_Lançamento",
                "displayName": "Data_Lançamento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Viagens",
                "displayName": "Viagens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Informado Whats",
                "displayName": "Informado Whats",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Faturado",
                "displayName": "Faturado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Informado Whats 2",
                "displayName": "Informado Whats 2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          224,
          192
        ],
        "id": "bed44c3d-41ba-4715-b55e-0170f48e0651",
        "name": "Atualiza Planilha",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UtT6UeplLnzrCyY7",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI/edit?gid=971679055#gid=971679055",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 971679055,
            "mode": "list",
            "cachedResultName": "NotasBarry",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gwEwP862E1P06FMx0w598oGo-uDi3YpxFz67Slsl_ZI/edit#gid=971679055"
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "detectAutomatically"
              }
            }
          }
        },
        "id": "e5b9a3a4-8c0a-4f72-aab4-33b277cae4df",
        "name": "Ler Planilha",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -448,
          160
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "UtT6UeplLnzrCyY7",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n-evolution-api.mxor6u.easypanel.host/message/sendText/ChatN8N",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "apikey",
                "value": "429683C4C977415CAAFCfsRVFR"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "={{ $json.texto }}"
              },
              {
                "name": "number",
                "value": "={{ $json.number }}"
              }
            ]
          },
          "options": {}
        },
        "id": "7cf6cf1e-fb6a-4f2c-b62e-38e5054d0295",
        "name": "Enviar WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// Pega os dados do item anterior (inclui row_number, Viagens, etc.)\nconst base = $json;\n\n// ID do Grupo para enviar\nconst numeros = [\n   \"120363423256039598@g.us\"\n];\n\n// Cria 1 item por número, preservando o row_number\nreturn numeros.map(n => ({\n  json: {\n    ...base,\n    number: n,\n    row_number: base.row_number   // ESSENCIAL\n  }\n}));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ],
        "id": "a9ee8d9b-0149-4512-8417-fb5c84e4ddcd",
        "name": "Edita Numero Whats"
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          0,
          256
        ],
        "id": "4dbb34a0-edea-4ed3-8409-0ee3dd4f0979",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          448,
          256
        ],
        "id": "a92e6dde-23b8-4e90-ab65-c8a7fcbe2dcd",
        "name": "Wait",
        "webhookId": "92d78c89-bdaa-4e5d-9d79-e06f5f6fa086"
      },
      {
        "parameters": {
          "jsCode": "// items contém cada viagem filtrada individualmente\n\n// extrai as viagens\nconst viagens = items.map(i => i.json.Viagens);\n\n// monta lista formatada\nconst lista_formatada = viagens.map(v => `• ${v}`).join(\"\\n\");\n\n// prepara linhas para o loop, com row_number\nconst linhas = items.map(i => ({\n  row_number: i.json.row_number,\n  viagem: i.json.Viagens\n}));\n\n// texto final\nconst texto =\n`📄 *NF Lançada no X3!*\n\n🚚 *Viagens:*\n${lista_formatada}\n\n💼 Smart Serviços Logísticos`;\n\n// saída única para mensagem\nreturn [\n  {\n    json: {\n      texto,\n      viagens,\n      lista_formatada,\n      linhas\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "3da2eb8d-4f3b-42f7-969e-15ca86de42f0",
        "name": "Agrupa_Viagens"
      }
    ],
    "connections": {
      "Gatilho de agendamento (1min)": {
        "main": [
          [
            {
              "node": "Ler Planilha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtra e Formata": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            },
            {
              "node": "Agrupa_Viagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ler Planilha": {
        "main": [
          [
            {
              "node": "Filtra e Formata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edita Numero Whats": {
        "main": [
          [
            {
              "node": "Enviar WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Atualiza Planilha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza Planilha": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agrupa_Viagens": {
        "main": [
          [
            {
              "node": "Edita Numero Whats",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "SIDENEI DA SILVA",
    "name": null,
    "description": null
  },
  "tags": []
}