cliente-x/BIpPAoiwr3ZbMvwc.json
{
  "updatedAt": "2026-01-16T01:54:19.580Z",
  "createdAt": "2026-01-16T01:54:19.580Z",
  "id": "BIpPAoiwr3ZbMvwc",
  "name": "Chat Boot Generico",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.data.message.conversation }}",
        "options": {
          "systemMessage": "=##Função\n\nVc deve se apresentar no inicio da primeira conversa como \"ChatTeste\" um assistente do Sidenei e responder as mensagens, oferencendo serviços prestados por ele que trabalha com python , power bi e n8n e  caso o cliente queira, agende horário para falar com Sidenei, O usuário irá te informar o horário e o motivo para o agendamento.\n\n\n\n\nSeguindo o padrão brasileiro de data e hora (DD/MM/AAAA e HH), opere no fuso horário \"GMT -03:00 Horario padrão de Brasilia - São Paulo\". hora atual: {{ $now }}\n\nRegras:\n\n## Criar agendamento\n- Utilize a tool de \"Agendar\" create_event sempre que o usuario falar em \"Agendar\", \"agenda\", \"lembrar\", \"ligar\", \"conversar\", \"mandar\".\n- Crie um evento no Calendario do Google na data e hora solicitada pelo usuario.\n\n\n## Consultar agendamento\n- Utilize a tool \"Consultar\" getall:event sempre que for solicitado para saber os agendamentos feitos.\n- Sempre que for fazer um novo agendamento confira as datas e horarios nessa tool também.\n- Só retorne para o usuário os agendamentos que estão no Google Calendar, não utilize supostos agendamento da memoria, pois o usuário pode ter entrado no Google Calendar e removido o agendamento manualmente.\n\n## Deletar agendamento\n- Utilize a tool \"Deletar\" delete:event sempre que o usuário pedir para \"deletar\", \"excluir\", \"apagar\" um determinado evento.\n- Utilize a tool \"Consultar\" getall:event para achar o evento em questão para ser deletado.\n\n## Atualizar agendamento\n- Sempre que for solicitado para \"atualizar\", \"alterar\", \"mudar\" um determinado evento, utilize a tool \"Consultar\" getall:event para achar o evento em questão para ser atualizado, depois utilize a tool \"Deletar\" delete:event para deletar o evento e por ultimo utilize a tool de \"Agendar\" create_event para criar um novo evento.\n\n## Horarios disponíveis para agendamento\nAgende apenas nos seguintes horarios:\nSegunda-feira: 8:00 as 18:00\nTerça-feira: 8:00 as 18:00\nQuarta-Feira: 8:00 as 18:00\nQuinta-Feira: 8:00 as 18:00\nSexta-feira: 8:00 as 18:00\nSabado: 8:00 as 12:00\nDomingo: nenhum horário disponível\n\n## Não envie o link do Google Calendar para o usuario.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        640,
        112
      ],
      "id": "cb1e2491-6a0f-4108-b4c9-7a3affd4d63a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sideneisilva1975@gmail.com",
          "mode": "list",
          "cachedResultName": "sideneisilva1975@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Data e horário escolhido pelo usuário.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `60 minutos depois da data de inicio.`, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `O titulo deve conter o motivo do agendamento e a hora agendada.`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        336
      ],
      "id": "b61c024a-e0b4-48d0-90fd-2c29cddc6b9c",
      "name": "Agendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "i8j5zeFlt1XIDFf7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sideneisilva1975@gmail.com",
          "mode": "list",
          "cachedResultName": "sideneisilva1975@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ day: 30 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        336
      ],
      "id": "c893e61d-d89b-4da5-97e9-3d7e07798893",
      "name": "Consultar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "i8j5zeFlt1XIDFf7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "sideneisilva1975@gmail.com",
          "mode": "list",
          "cachedResultName": "sideneisilva1975@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Delete o evento solicitado.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        960,
        336
      ],
      "id": "250c4fed-fdb6-4adc-9fae-78a9d80cf436",
      "name": "Deletar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "i8j5zeFlt1XIDFf7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "0-Conecta o What via Automação QR\n1- Definir horários de funcionamento\n2- Tirar o link\n3- Colocar memoria\n",
        "height": 120,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e6b9f2d1-4ea2-4844-b6ab-3ebbe9f08d96",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "TesteCliente",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        112
      ],
      "id": "aaff01a4-ff4a-4f0b-be16-1cfcc60d2905",
      "name": "Webhook",
      "webhookId": "0308f6a6-9792-4d42-86e6-2bebfd7ad791"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        336
      ],
      "id": "12afa800-b1f0-4eee-9594-dda08188e5d4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5Mz3jLfwtaP7Mj83",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json['Quem mandou'] }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        576,
        336
      ],
      "id": "03e264fe-70d7-4fd4-bb97-6cf3a41c078a",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "DgKx8HOpgfzwn4IF",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Dados').item.json['Quem mandou'] }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1168,
        112
      ],
      "id": "7e61a15f-4d0b-4970-aeac-2225db6b9580",
      "name": "Respostas",
      "credentials": {
        "evolutionApi": {
          "id": "jteZg744ZMVEAB4k",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1b37c7c-31d8-4197-b52d-fb989cedfc69",
              "name": "Quem mandou",
              "value": "={{ $json.body.data.key.remoteJidAlt }}",
              "type": "string"
            },
            {
              "id": "cf44d40e-6dd5-4894-ad9b-add342f32a96",
              "name": "Instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "88fb2660-9f77-4733-a30d-1f92fff8ed7f",
              "name": "Mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "99176a6a-3801-4bef-bdcc-ef62d75b4036",
              "name": "ID da mensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "2179841c-bca4-4aac-8acf-10c9a61a479e",
              "name": "Nome da Pessoa",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        112
      ],
      "id": "e833edce-ad60-4f26-b927-989a77a36edf",
      "name": "Dados"
    }
  ],
  "connections": {
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Deletar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dc1b7f60-4cc2-4edf-b887-721bf72d4f2a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-16T01:54:19.580Z",
      "createdAt": "2026-01-16T01:54:19.580Z",
      "role": "workflow:owner",
      "workflowId": "BIpPAoiwr3ZbMvwc",
      "projectId": "jpUEChzxuUXaZ2dQ"
    }
  ],
  "activeVersion": null,
  "tags": []
}