cliente-x/OZVKyblxarD4NUu5.json
{
  "updatedAt": "2026-02-28T01:30:50.543Z",
  "createdAt": "2026-02-27T01:16:08.988Z",
  "id": "OZVKyblxarD4NUu5",
  "name": "Backup-n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        -128
      ],
      "id": "4744dd05-74b8-4805-b75b-db5827dd7f6b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -368,
        -128
      ],
      "id": "4e279f77-2842-4e5f-8e2d-a6acf59c5233",
      "name": "Obter Fluxos",
      "credentials": {
        "n8nApi": {
          "id": "nb4MbvdWVNur7UQP",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16d5186b-1d1b-4556-9ac5-4f463c0b4f08",
              "name": "owner",
              "value": "SideneiSilva",
              "type": "string"
            },
            {
              "id": "f5bbde81-9d52-4c1b-b648-c97677007b59",
              "name": "repository",
              "value": "n8n-backup ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -128
      ],
      "id": "b53d4d33-1c0f-4859-8442-31587110629b",
      "name": "Infos Basicas"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.data.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        0
      ],
      "id": "ede89a9c-c429-42e3-be16-f83a26ddecb7",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8595e7c-3da1-4e67-9471-41af81451401",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -32
      ],
      "id": "02611348-2739-492a-be13-0afe9c7a7e8c",
      "name": "workflow dados"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').item.json.repository }}",
          "mode": "name"
        },
        "filePath": "=Cliente-x/{{ $json.data.id }}.json",
        "fileContent": "={{ JSON.stringify($json.data) }}",
        "commitMessage": "={{ $json.data.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        976,
        0
      ],
      "id": "c88f8457-0fda-4162-97aa-64fa7be39c10",
      "name": "Github1",
      "webhookId": "9cddcb66-b3b0-432b-ab63-fe1094af3f56",
      "credentials": {
        "githubOAuth2Api": {
          "id": "ER8zVDXRZerceSKN",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').item.json.repository }}",
          "mode": "url"
        },
        "filePath": "=cliente-x/{{ $json.id }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -144,
        -224
      ],
      "id": "060d0dd4-0708-4d5c-814a-799e0b11fdb7",
      "name": "Get a file",
      "webhookId": "41db1dfa-9408-4152-a309-3fdf7aff53c8",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "ER8zVDXRZerceSKN",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Infos Basicas').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -816,
        -448
      ],
      "id": "6743ab26-eade-4fe5-bba2-cb094891de19",
      "name": "Get a file1",
      "webhookId": "52744022-dd90-4c5c-a0c9-6325e0a071ce",
      "credentials": {
        "githubOAuth2Api": {
          "id": "ER8zVDXRZerceSKN",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "data.data.id",
              "field2": "data.id"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        304,
        -160
      ],
      "id": "f0bb166c-d32a-4985-a0a5-8ade48a92fc9",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        80,
        -224
      ],
      "id": "c2fe0971-5a00-4473-b692-c5cfdb9ea4e2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{{ $json.data }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        0
      ],
      "id": "28beb6ad-59d7-4aee-8d23-54dd21451496",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Infos Basicas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Fluxos": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "workflow dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Infos Basicas": {
      "main": [
        [
          {
            "node": "Obter Fluxos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "workflow dados": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Github1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ea7a0c1f-4963-43c6-b69e-457f8811bfa0",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-27T01:16:08.988Z",
      "createdAt": "2026-02-27T01:16:08.988Z",
      "role": "workflow:owner",
      "workflowId": "OZVKyblxarD4NUu5",
      "projectId": "jpUEChzxuUXaZ2dQ"
    }
  ],
  "activeVersion": null,
  "tags": []
}