cliente-x/VzV9w1KNcpR4F8Fh.json
{
  "updatedAt": "2026-02-26T10:58:16.762Z",
  "createdAt": "2026-01-16T01:52:08.958Z",
  "id": "VzV9w1KNcpR4F8Fh",
  "name": "GeraQRCode",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atualizar-qr-code",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        656
      ],
      "id": "f47c6114-aa51-4ddb-85b9-aefd7fd1af22",
      "name": "Atualiza qr code",
      "webhookId": "f3988766-f52b-4be0-b0bd-254e485671a3"
    },
    {
      "parameters": {
        "content": "Copie o http de produção e informe o nome da instancia: TesteCliente",
        "height": 460,
        "width": 860,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "688abcdd-020d-4af6-83e3-1b8ee4944eb2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Gerador de QR Code WhatsApp</title>\n  <script src=\"https://cdn.tailwindcss.com\"></script>\n  <style>\n    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');\n    \n    * {\n      font-family: 'Inter', system-ui, sans-serif;\n    }\n    \n    .fade-in {\n      animation: fadeIn 0.4s ease-out;\n    }\n    \n    @keyframes fadeIn {\n      from { opacity: 0; transform: translateY(16px); }\n      to { opacity: 1; transform: translateY(0); }\n    }\n    \n    .spinner {\n      width: 20px;\n      height: 20px;\n      border: 2px solid #e5e7eb;\n      border-radius: 50%;\n      border-top-color: #3b82f6;\n      animation: spin 1s linear infinite;\n    }\n    \n    @keyframes spin {\n      to { transform: rotate(360deg); }\n    }\n    \n    .progress-circle {\n      transform: rotate(-90deg);\n    }\n    \n    .progress-path {\n      stroke-dasharray: 157;\n      stroke-dashoffset: 157;\n      transition: stroke-dashoffset 1s linear;\n    }\n    \n    .input-focus {\n      transition: all 0.2s ease;\n    }\n    \n    .input-focus:focus {\n      box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.1);\n    }\n  </style>\n</head>\n\n<body class=\"min-h-screen bg-gray-50\">\n  <div class=\"min-h-screen flex items-center justify-center p-4\">\n    <div class=\"w-full max-w-md\">\n\n      <!-- Header -->\n      <div class=\"text-center mb-8 fade-in\">\n        <div class=\"inline-flex items-center justify-center w-16 h-16 bg-blue-600 rounded-2xl mb-6 shadow-sm\">\n          <svg class=\"w-8 h-8 text-white\" fill=\"none\" stroke=\"currentColor\" viewBox=\"0 0 24 24\">\n            <path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z\"/>\n          </svg>\n        </div>\n        <h1 class=\"text-2xl font-semibold text-gray-900 mb-2\">Gerador de QR Code</h1>\n        <p class=\"text-gray-600\">Conecte sua instância WhatsApp rapidamente</p>\n      </div>\n\n      <!-- Main Card -->\n      <div class=\"bg-white rounded-2xl shadow-sm border border-gray-200 overflow-hidden fade-in\">\n        <div class=\"p-6\">\n\n          <!-- Input -->\n          <div class=\"space-y-6\">\n            <div>\n              <label for=\"instanceName\" class=\"block text-sm font-medium text-gray-900 mb-3\">\n                Nome da Instância\n              </label>\n\n              <input\n                id=\"instanceName\"\n                type=\"text\"\n                placeholder=\"Digite o nome da sua instância\"\n                class=\"input-focus w-full px-4 py-4 rounded-xl border border-gray-300 focus:border-blue-500\"\n              />\n            </div>\n\n            <!-- Botão Gerar -->\n            <button\n              id=\"generateButton\"\n              onclick=\"generateQRCode()\"\n              class=\"w-full py-4 px-6 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-xl\"\n            >\n              <div class=\"flex items-center justify-center space-x-2\">\n                <div id=\"buttonIcon\">\n                  <svg class=\"w-5 h-5\" fill=\"none\" stroke=\"currentColor\" viewBox=\"0 0 24 24\">\n                    <path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5v-4m0 0h-4m4 0l-5-5\"/>\n                  </svg>\n                </div>\n                <span id=\"buttonText\">Gerar QR Code</span>\n              </div>\n            </button>\n          </div>\n\n          <!-- Área de Loading -->\n          <div id=\"loader\" class=\"hidden text-center py-12\">\n            <div class=\"spinner mx-auto mb-4\"></div>\n            <p class=\"text-gray-900 font-medium\">Gerando QR Code</p>\n          </div>\n\n          <!-- QR -->\n          <div id=\"qrcode\" class=\"hidden text-center py-6\">\n            <div id=\"qrImage\"></div>\n          </div>\n\n        </div>\n      </div>\n\n      <!-- Informativo DEV_SIDENEI -->\n      <div class=\"mt-6 fade-in text-center\">\n        <p class=\"text-sm font-medium text-blue-500\">\n          Desenvolvido por <span class=\"text-blue-600 font-semibold\">DEV_SIDENEI</span>\n        </p>\n      </div>\n\n    </div>\n  </div>\n\n  <script>\n    let timerInterval;\n    let timeLeft = 30;\n\n    async function generateQRCode() {\n      const input = document.getElementById('instanceName');\n      const name = input.value.trim();\n      const loader = document.getElementById('loader');\n      const qrSection = document.getElementById('qrcode');\n      const qrImageContainer = document.getElementById('qrImage');\n\n      if (!name) {\n        alert(\"Digite o nome da instância.\");\n        return;\n      }\n\n      loader.classList.remove('hidden');\n      qrSection.classList.add('hidden');\n\n      try {\n        const endpoint = \"{{ $json.endpoint }}\";\n\n        const res = await fetch(endpoint, {\n          method: \"POST\",\n          headers: { \"Content-Type\": \"application/json\" },\n          body: JSON.stringify({ instance: name })\n        });\n\n        const blob = await res.blob();\n        const url = URL.createObjectURL(blob);\n\n        qrImageContainer.innerHTML = `<img src=\"${url}\" class=\"rounded-xl max-w-64 mx-auto\" />`;\n\n        loader.classList.add(\"hidden\");\n        qrSection.classList.remove(\"hidden\");\n\n      } catch (error) {\n        alert(\"Erro ao gerar QR Code.\");\n        loader.classList.add(\"hidden\");\n      }\n    }\n  </script>\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        432,
        224
      ],
      "id": "362761f3-4120-4665-8deb-e0269a0c65d7",
      "name": "somente buscar a instancia já criada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ec85942-3ffc-41dd-a9a4-60a4011351f9",
              "name": "endpoint",
              "value": "https://n8n-n8n.mxor6u.easypanel.host/webhook/atualizar-qr-code",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        224
      ],
      "id": "874aa413-eafc-4403-8d5c-bae5bd7ec61d",
      "name": "Campos Dinâmicos"
    },
    {
      "parameters": {
        "content": "Gerador de QrCode",
        "height": 460,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        464
      ],
      "typeVersion": 1,
      "id": "69f854c7-b976-4f12-8784-de818defb955",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7997d699-2380-48aa-8dc3-b1eac974e16e",
              "name": "base64",
              "value": "={{ $json.data.base64.split(',').last() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        560
      ],
      "id": "e76bf06b-7822-46b9-9cd2-23a13fba79cb",
      "name": "Limpa o código base64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1376,
        560
      ],
      "id": "e67d43ef-03fb-432f-8187-9adf20b21f33",
      "name": "Converte para base64"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1152,
        752
      ],
      "id": "8de584b9-cac7-46d7-8aa2-3598206b9497",
      "name": "gera mensagem de conectado!",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04bcabd0-34f6-4e7d-8329-0852b8593d8e",
              "leftValue": "={{ $json.data.instance.state }}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        656
      ],
      "id": "09114def-ee63-4441-b420-a169aa23b9df",
      "name": "validação se está conectado"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        624,
        224
      ],
      "id": "d2a1080f-2f4d-489e-b760-a01478ffe67d",
      "name": "Gera Html Dinâmico"
    },
    {
      "parameters": {
        "path": "TesteCliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        224
      ],
      "id": "a23c0ea5-9fa2-4ce7-91f8-4706ee405975",
      "name": "Inicializa a pagina",
      "webhookId": "cce5e6b5-f99a-48a3-8b18-cf524f03c4ce"
    },
    {
      "parameters": {
        "operation": "instance-connect",
        "instanceName": "={{ $json.body.instance }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        704,
        656
      ],
      "id": "fb0f3115-b19e-4be4-a1c9-9a3a0d4cdc11",
      "name": "Conexão EVO",
      "credentials": {
        "evolutionApi": {
          "id": "jteZg744ZMVEAB4k",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1600,
        560
      ],
      "id": "8da4e12d-cf42-46ec-a4ac-607dae5ab9a9",
      "name": "gerar dinamicamente qrcode",
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "somente buscar a instancia já criada": {
      "main": [
        [
          {
            "node": "Gera Html Dinâmico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Campos Dinâmicos": {
      "main": [
        [
          {
            "node": "somente buscar a instancia já criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa o código base64": {
      "main": [
        [
          {
            "node": "Converte para base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte para base64": {
      "main": [
        [
          {
            "node": "gerar dinamicamente qrcode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validação se está conectado": {
      "main": [
        [
          {
            "node": "Limpa o código base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "gera mensagem de conectado!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializa a pagina": {
      "main": [
        [
          {
            "node": "Campos Dinâmicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conexão EVO": {
      "main": [
        [
          {
            "node": "validação se está conectado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza qr code": {
      "main": [
        [
          {
            "node": "Conexão EVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "890e9178-910e-4b3e-b5e8-1580dc8bad8f",
  "activeVersionId": null,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-16T01:52:08.958Z",
      "createdAt": "2026-01-16T01:52:08.958Z",
      "role": "workflow:owner",
      "workflowId": "VzV9w1KNcpR4F8Fh",
      "projectId": "jpUEChzxuUXaZ2dQ"
    }
  ],
  "activeVersion": null,
  "tags": []
}