cliente-x/zlfsuTosPe7HcNGc.json
{
  "updatedAt": "2026-03-08T11:03:15.444Z",
  "createdAt": "2026-03-08T10:43:44.681Z",
  "id": "zlfsuTosPe7HcNGc",
  "name": "Gerar QR Evolution",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-qr",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a22cc7d-2e74-4ac0-9763-0bfa9cfca7b4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "3e1ebac5-faf3-4474-ab10-bb5bc7c42fa4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wa.sideneidev.cloud/instance/qrcode/Cliente de teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCfsRVFR"
            }
          ]
        },
        "options": {}
      },
      "id": "d52e9daf-0bfb-4939-a9f4-042da623b84f",
      "name": "Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "b292fd5f-f0cd-4d88-9d66-e782967b880a",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        608,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9af101c0-fb71-41ef-b600-12865238965d",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-08T10:43:44.681Z",
      "createdAt": "2026-03-08T10:43:44.681Z",
      "role": "workflow:owner",
      "workflowId": "zlfsuTosPe7HcNGc",
      "projectId": "jpUEChzxuUXaZ2dQ"
    }
  ],
  "activeVersion": null,
  "tags": []
}